*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --cor-primaria: #C9B8A3; 
    --cor-secundaria: #F7E1C6; 
    --cor-secundaria-suave: #b4ff33; 
    --cor-fundo: #FFFFFF;
    --cor-input-borda: #aaa;
    --cor-erro: #FF3333;
    --fonte-principal: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --sombra-card: 0 8px 20px rgba(0, 0, 0, 0.2);
}
